apiVersion: v1
kind: Service
metadata:
  name: {{vm_name}}-fio
  namespace: simple-fio
  labels:
    app: simple-fio
spec:
  ports:
  - protocol: TCP
    port: 8765
  selector:
    kubevirt.io/domain: {{vm_name}}
  type: ClusterIP
